html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "proxima-nova", Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "atrament-web", Din, sans-serif;
  line-height: 1.625rem;
  margin: 0; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

a:link, a:visited {
  color: #76163e; }

a:hover, a:active {
  color: #40b761; }

button {
  font-family: Helvetica;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: 0;
  border: 0; }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  border-top: 1rem solid #2ff7d0;
  background: rgba(47, 247, 208, 0.65);
  z-index: 5;
  display: flex;
  align-items: stretch; }
  header .logo {
    flex: 3; }
  header .trigger {
    flex: 1; }
    header .trigger button {
      text-align: right; }
  header a, header button {
    padding: 2rem;
    display: block; }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #73b84d; }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1; }

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s; }

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  z-index: 10; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }
