// Chapter colors

$arh:		#193942;
$abq:		#ff7864;
$ams:		#7ad1ee;
$atl:		#fcbf18;
$akl:		#9b5260;
$atx:		#cc5727;
$bal:		#d44329;
$blr:		#5a5a69;
$bkk:		#e61e00;
$bcn:		#ffd316;
$baq:		#c4e538;
$bgd:		#dc6edc;
$bh:		#42af89;
$ber:		#7ba6ad;
$bog:		#f15d59;
$bos:		#8f4b21;
$ba:		#f60;
$bru:		#f63;
$buc:		#aad038;
$bdp:		#4d5d5b;
$bue:		#64c8ff;
$ct:		#798f5a;
$cdf:		#6c64ff;
$chs:		#ffd582;
$clt:		#008fa7;
$chi:		#e8d41a;
$cin:		#b39b90;
$cle:		#005000;
$cgn:		#f99973;
$cph:		#7ed0e1;
$cwb:		#00a300;
$dfw:		#3f4a5d;
$den:		#7b2980;
$det:		#659d92;
$dxb:		#0dd6af;
$dub:		#b7c9e0;
$dus:		#8c1928;
$edi:		#0096c8;
$edm:		#213e74;
$ftl:		#ffc83f;
$ge:		#c1bc87;
$gr:		#8aeb66;
$gdl:		#6b57a5;
$gua:		#85e4f9;
$hel:		#77c588;
$hk:		#d20028;
$hou:		#3c266f;
$ind:		#93c840;
$ist:		#e00;
$jkt:		#dc8200;
$cju:		#faa819;
$jhb:		#9d8931;
$kc:		#00bea0;
$kgl:		#007c79;
$krk:		#bf206f;
$lv:		#ff3c96;
$lg:		#c02627;
$lim:		#bd1a88;
$lj:		#5d7850;
$ldn:		#4d07a8;
$la:		#f7941e;
$lou:		#dc6e28;
$mad:		#451834;
$mkt:		#006ebf;
$mal:		#f3859c;
$mel:		#3ca9b7;
$mx:		#f6c;
$mia:		#95d5d5;
$mil:		#de0057;
$mke:		#fcba60;
$msp:		#30602f;
$mvd:		#517abd;
$mtl:		#d31d52;
$mow:		#f5844f;
$bom:		#f4e11c;
$muc:		#3e96d2;
$nsh:		#8c61a8;
$nyc:		#f00;
$oak:		#676760;
$orl:		#223e98;
$osl:		#f15c30;
$ott:		#5d4284;
$prs:		#76163e;
$per:		#00c;
$phl:		#971d1f;
$phx:		#e6d9ad;
$pgh:		#e5a735;
$pdx:		#6a5770;
$opo:		#4683b0;
$poa:		#28c83c;
$pkx:		#00635a;
$prg:		#d9e022;
$qc:		#283494;
$rdu:		#8c222f;
$rva:		#0000e6;
$rio:		#f27597;
$rm:		#ffe900;
$rtd:		#501596;
$spb:		#7f0acf;
$slc:		#6ed2c8;
$sd:		#65a9c1;
$sf:		#73b84d;
$ss:		#2f2;
$sfe:		#6e1e46;
$scl:		#c92a39;
$spo:		#2c783b;
$sea:		#96c7d7;
$seo:		#20a;
$sg:		#1e315f;
$sof:		#da4a75;
$sto:		#c0c037;
$syd:		#ee3c2d;
$tbz:		#ffd400;
$tpe:		#ff51a7;
$tgu:		#7a4fdc;
$tlv:		#0646fa;
$tij:		#2ff7d0;
$tir:		#32aa32;
$to:		#3566b9;
$threer:	#7f8000;
$trn:		#6fa04f;
$utr:		#cd5d28;
$vlc:		#ff5000;
$van:		#9c9c9d;
$vie:		#40b761;
$vln:		#be0040;
$waw:		#c1cf82;
$dc:		#51bbb7;
$zh:		#00b2d9;

