// Variables for BottleStlyez


// Type
$proxima-nova:			"proxima-nova", Helvetica, sans-serif;
$atrament:				"atrament-web", Din, sans-serif;

// Chapter colors
@import 'cm-colors';

// Local styles
$where-iz-bottle:		$tij;
